*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #040D12;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container button:active{
    opacity: 0.7;
}

.title-container{
    width: 50%;
    max-width: 400px;
    font-size: xx-large;
    margin: 60px 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.record{
    border: 0;
    border-radius: 50% 50%;
    width: 100px;
    height: 100px;
    font-size: auto;
    background: #5C8374;
}

.record button{
    cursor: pointer;
}
.record > i{
    background: transparent;
    color: #040D12;
}

.popup{
    width: 400px;
    height: 50vh;
    background-color: #040D12;
    border-radius: 6px;
    border-color: #5C8374;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0 30px 30px;
    visibility: hidden;
}

.popup h2{
    margin-top: 100px;
    margin-bottom: 70px;
}

.popup button{
    border: 0;
    border-radius: 6px 6px;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #5C8374;
    color: white;
}

.open-popup{
    visibility: visible;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.button-container button{
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    width: 70px;
    padding: auto;
}

.button-container button > i{
    background: transparent;
}

input[type="file"] {
    display: none;
}

.file-upload-container{
    max-width: 450px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:#93B1A6;
    font-size: large;
}

.file-upload-input{
    border: 0;
    border-radius: 50% 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #2C3333;
    margin-right: 20px;
}

.file-upload-input > i{
    background: transparent;
    color: #93B1A6;
}

.history-container{
    width: 50%;
    max-width: 450px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    color: white;
}
