*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #040D12;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container{
    width: 50%;
    max-width: 400px;
    font-size: xx-large;
    margin: 60px 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.record-input button{
    border: 0;
    border-radius: 50% 50%;
    width: 100px;
    height: 100px;
    font-size: auto;
    background: #5C8374;
    cursor: pointer;
}

.record-input button > i{
    background: transparent;
    color: #040D12;
}

input[type="file"] {
    display: none;
}

.file-upload-container{
    width: 50%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#93B1A6;
    font-size: large;
}

.file-upload-input{
    border: 0;
    border-radius: 50% 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #2C3333;
    margin-right: 20px;
}

.file-upload-input > i{
    background: transparent;
    color: #93B1A6;
}